* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.header {
    height: 60px;
    /* border: 1px solid red; */
    line-height: 60px;
}

.header img {
    width: 34px;
    vertical-align:middle;
    margin: 0 20px;
}

.header span {
    display: inline-block;
    vertical-align:middle;
    font-size: 24px;
}

.main {
    font-size: 24px;
    flex: 1;
    margin-top: 120px;
}

.main img {
    width: 40px;
    margin: 0 20px;
}

.main div {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    
}

.main .right {
    position: absolute;
    top: 24px;
    right: 0;
}


.footer {
    text-align: center;
    margin-bottom: 60px;
}

.footer h2 {
    margin-bottom: 10px;
}


body {
	
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}